* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding-top: 16px;
    background-color: rgb(9, 9, 71);
    color: #fff;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-bottom: 16px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

nav {
    padding: 16px 0;
    background-color: rgb(53, 53, 161);
    width: 100%;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

nav li a {
    color: white;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}