* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

header {
    padding-top: 16px;
    background-color: rgb(9, 9, 71);
    color: #fff;
}

header > .container {
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-bottom: 16px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

nav {
    padding: 16px 0;
    background-color: rgb(53, 53, 161);
    width: 100%;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

nav li a {
    color: white;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}

.lista-veiculos li img {
    max-width: 100%;
}

.lista-veiculos li button {
    display: block;
    padding: 8px 0;
    width: 100%;
    background-color: rgb(35, 106, 35);
    color: white;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    margin-top: 4px;
    cursor: pointer;
    border-radius: 10px;
}

.lista-veiculos li button:hover {
    background-color: rgb(27, 81, 27);
}

.item-central {
    margin: 0 5%;
}

.price {
    margin: 8px 0;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 14px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input, 
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}